In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('play_tennis.csv')

In [3]:
df.head(14)

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

outlook=sunny, temp=hot, humidity=high,wind=weak

p(yes)
p(no)

In [4]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [5]:
py=9/14
pn=5/14

In [6]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [7]:
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [8]:
Pon=0
Prn=2/5
Psn=3/5
Poy=4/9
Prt=3/9
Psy=2/9

In [9]:
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [10]:
PCoolNo=1/5
PhotNo=2/5
PMildNo=2/4

PCoolYes=3/9
PHotYes=2/9
PMileYes=4/9

In [11]:
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [12]:
PHighNo=4/5
PNormalNo=1/5
PHighYes=3/9
PHighYes=6/9

In [13]:
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [14]:
PStrongNo=3/5
PWeakNo=2/5
PStrongYes=3/9
PWeakYes=6/9

In [15]:
#outlook=sunny,temp=hot,humidity=high, wind=weak
Pyes=py*Psy*PHotYes*PWeakYes*PHighYes
print(Pyes)

0.014109347442680775

In [16]:
Pyes

0.014109347442680775

In [17]:
PNo=pn*Psn*PhotNo*PWeakNo*PHighNo
print(PNo)

0.02742857142857143

In [18]:
if(Pyes>PNo):
    print("Good to go play teniss")
else:
    print("Don't play go and study")

Don't play go and study